.section {
  width: 340px;
  padding: 10px;
  color: var(--text-color);
  /* border: 1px solid var(--text-color); */
  border-radius: 4px;
  text-align: center;
  background-color: rgba(65, 105, 225, 0.7);
}

.section:nth-child(2n) {
  margin-bottom: 6px;
}

.section__title {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  color: var(--text-color);
  font-size: 26px;
}

.section__title::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--text-color);
  border-radius: 2px;
}
